---
import "../assets/app.css"
import Root_layout from "./root_layout.astro";
import Landing_nav from "../components/landing_nav.astro";
import {Image} from "astro:assets";
import Author_post_preview from "../components/author_post_preview.astro";
import {getAuthorSlugSingle, getAuthorSlugAll} from "../util/get_author_slug";
interface Postdata {
    post: {
        id:string
        data: {
            title: string;
            description: string;
            reading: string;
            authors: string[];
            related_posts: string[];
            topicTags: string[];
            date: string;
            previewImagePath: string;
        };
    };
}

const postdata = Astro.props as Postdata;
console.log(postdata.post.id)
console.log(getAuthorSlugAll(postdata.post.data.authors))

---

<Root_layout>
  <Landing_nav />
  <div class='h-2 bg-base-200'></div>
  <div class='mx-auto mt-16 lg:px-36 md:px-28 sm:px-16 px-5 w-full'>
    <div class='flex items-center justify-center'>
      <img alt="alt" class='rounded-md w-full max-w-3xl h-auto' src={postdata.post.data.previewImagePath} />
    </div>

    <article class='mx-auto max-w-[80rem] px-4 sm:px-6 lg:px-8'>
      <h1 class='bg-base-200 xl:text-3xl sm:text-2xl font-semibold mt-8'>{postdata.post.data.title}</h1>
      <div class='flex items-center mt-2 text-sm text-secondary'>
        <span>Lesezeit: {postdata.post.data.reading} Minuten -</span>
        <div class="ml-2 flex flex-wrap">
          {postdata.post.data.authors.map(author => (
              <Author_post_preview id={getAuthorSlugSingle(author)} />
          ))}
        </div>
      </div>
      <p class='text-secondary mt-4 text-base sm:text-lg'>{postdata.post.data.description}</p>
    </article>
    <div class="content flex flex-col text-justify markdown-content">

      <slot />
    </div>
  </div>
</Root_layout>