---
import {Image} from "astro:assets";

import {getEntry} from "astro:content";
import type {ImageMetadata} from "astro";

const {post} = Astro.props;


const images = import.meta.glob('../assets/*.{jpg,jpeg,png,webp}', {
    eager: true,
    import: 'default'
});

const post_image = images[post.data.image];
---

<div class='hero bg-base-200 min-h-screen'>
  <div class='hero-content text-center'>
    <div class='max-w-md'>
      <h1 class='text-5xl font-bold'>Hello there</h1>
      <figure>
        <Image
            src={post_image}
            alt={post.data.title}
            width={300}
            height={800}>
        </Image>
      </figure>

    </div>

  </div>
  <slot/>
</div>